{% extends 'management/pages/base_layout.html' %}
{% block header %}Role list {% endblock %}
{% block content %}
<div class="col-6">
    <table class="table">
                                    <tr>
                                        <td>ID</td>
                                        <td>Role</td>
                                        <td colspan="2" class="text-center">Action</td>
                                    </tr>
                                {% if not role_data %}
                                        <tr><td colspan="5">No data!</td></tr>
                                {% else %}
                                    {% for role in role_data %}
                                    <tr>
                                        <td>{{ role[0]}}</td>
                                        <td>{{ role[1]}}</td>
                                        <td class="text-center"><a href="">Edit</a></td>
                                        <td class="text-center"><a href="">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </table>
</div>


{% endblock %}