{% extends 'management/pages/base_layout.html' %}
{% block header %}Role list{% endblock %}
{% block content %}
<div class="col-6">
    <table class="table">
                                    <tr>
                                        <td>ID</td>
                                        <td>Username</td>
                                        <td colspan="2" class="text-center">Action</td>
                                    </tr>
                                {% if not user_data %}
                                        <tr><td colspan="5">No data!</td></tr>
                                {% else %}
                                    {% for user in user_data %}
                                    <tr>
                                        <td>{{ user[0]}}</td>
                                        <td>{{ user[1]}}</td>
                                        <td class="text-center"><a href="/admin/user_edit/{{ user[0] }}">Edit</a></td>
                                        <td class="text-center"><a href="">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </table>
</div>


{% endblock %}